/*Estilos para el layout*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
}

/* Estilos para todo lo relacionado con el header*/

.contenedor {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
}

.contenedor img{
    width: 50px;
    height: 5%;
    align-self: center;
    padding-top: 10px;
}

.contenedor h1 {
    align-self:center;
    font-size: 20px;
}

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 20px 0;
    cursor: pointer;
}


.menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(196, 106, 106, 0.9);
    transition: all 0.7s;
    transform:translateX(-100%);
}

.menu a {
    display: block;
    color:black;
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid black;
}

.menu a:hover {
 background-color:rgba(51, 51, 51, 0.9);
 color: white;
}

#menu-bar:checked ~ .menu {
    transform:translateX(0%)
}

/* Estilos para todo lo relacionado con el main, seccion principal*/

#principal {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 50px;
    position: relative;
}

#principal img {
    width: 100%;
    height: 100%;
}

#principal .texto-principal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

.texto-principal {
    display: flex;
    flex-direction: column;
}

#principal h2 {
    text-align: center;
    -webkit-text-stroke: .5px black;
}

#principal a {
    
    width: 100px;
    text-decoration: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(196, 106, 106);
    border-radius: 5px;
    align-self: center;
    font-size: 12px;
    cursor: pointer;
}

#principal a:hover {
    background-color:rgba(51, 51, 51, 0.9);
}

/*Estilos para todo lo relacionado con secciones*/

#secciones .contenedor2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#secciones section {
    margin: 15px;
    display: flex;
    justify-content:center;
    flex-direction: column;

}

#secciones h3 {
    text-align: center;
    font-weight: 2;
}

#secciones img {
    width: 100%;
    max-width: 100px;
    align-self: center;
    
}

#secciones h4 {
    font-weight: 2;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
}

hr {
    width: 50%;
    margin: auto;
    font-weight: 1;
}

/*Estilos para el footer */

#footer p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sociales img {
    width: 100%;
    max-width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.sociales a {
    padding: 15px;
}

#footer small > p {
    text-align: center;
}



